@use "sass:map";
@use "sass:list";
@use "@pepabo-inhouse/adapter" as adapter;
@use "./variables";

@mixin style($options: variables.$default-option) {
  @include adapter.text(
    $level: s,
    $density: normal
  );

  &.-color-negative {
    color:
      adapter.get-semantic-color(
        $intention: map.get($options, color),
        $level: 600
      );
  }
}

@mixin export {
  .in-validation-message {
    @include style;
  }
}
